/* main.css */
body {
    background-color: var(--color-background);
    font-family: var(--font-family);
    color: var(--color-text);
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-family: var(--font-family);
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  